html{
    overflow-x:hidden;
    overflow-y:hidden;     
}

a{
    text-decoration:none;
    color: white;
}

a:visited {
    text-decoration:none;
}

a:hover {
    color:rgb(8, 157, 184);
    text-decoration:none;
}

.setwordle{
    font-size: 40px; 
    color: rgb(8, 157, 184);
    margin-left: 2%;
}
