html{
    overflow-x:hidden;
    overflow-y:hidden;     
}
.flex-item {
    background-color: #fff;
}

#base_leaderboard {
    background-color:rgb(8, 157, 184);
}

#base_leaderboard a{
    color:white;
} 

#contain{
    width: 98%;
    height: 100%;
}

#set_background{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-image: url("../images/background.jpg"); */
    /* background-size:100% 100%; */
    /* background-repeat:no-repeat; */
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-filter: blur(3px);
    filter: blur(4px);
}

#contain-leaderboard{
    /* display: block; */
    display: inline;
    position: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 999px;
    height:555px;
    margin-left: -550px;
    margin-top: -250px;  
    box-shadow: 2px 2px 4px #A0A0A0, -2px -2px 4px #A0A0A0;
    background-color: #fff;
    z-index: 1113;
}

#contain-profile{
    /* display: block; */
    display: inline;
    position: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 333px;
    height: 555px;
    margin-left: -666px;
    margin-top: -250px;  
    box-shadow: 2px 2px 4px #A0A0A0, -2px -2px 4px #A0A0A0;
    background-color: #fff;
    z-index: 1113;
}

#contain-leaderboard {
    display: flex;
    align-items: center;
}

.contain-left {
    margin-left: 30px;
    width: 30%;
}

.icon{
    max-width: 256px;
    max-height: 256px;
}


.contain-right {
    margin-right: 30px;
    width: 65%;
}

.user-content {
    display: flex;
    justify-content: space-around;
}

th {
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noun-sort {
    width: 20px;
    height: 20px;
{#background: lightcoral;#}
}

.noun-sort-active {
{#background: lightcyan;#}
}

