#set_background{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.jpg");
    background-size:100% 100%;
    background-repeat:no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-filter: blur(3px);
    filter: blur(4px);
}

.col-center-block {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
