<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="../../static/style/baseCss.css" charset="utf-8"/>
        <meta charset="UTF-8" />
        
        <title>
            w[]rdle - 
            {% block title_block %}
                Game
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="menu">
            <div id="menu-left">
                <img src="{% static 'images/question.png' %}" alt="How to play wordle!" 
                style = "width: 20px; height: 20px;margin-left: 20%;"/> 
                <span style="font-size: 40px; color: rgb(8, 157, 184); margin-left: 1%;">w[&nbsp;]rdle</span>
            </div>
            <div id="menu-right">
                
                <div class="flex-item"><a href="#">Game</a></div> 
                <div class="flex-item"><a href="{% url 'wordgame:leaderboard' %}">Learderboard</a></div>
                {% if user.is_authenticated %}
                <!-- Show these links when the user is logged in -->              
                <div class="flex-item"><a href="#">UserProfile</a></div>
                <div class="flex-item"><a href="{% url 'wordgame:logout' %}">Logout</a></div>
                {% else %}
                <!-- Show these links when the user is NOT logged in -->
                <!-- <div><a href="{% url 'wordgame:register' %}">Sign Up</a></div> -->
                <div class="flex-item"><a href="{% url 'wordgame:login' %}">Login</a></div>
                {% endif %}               
                
            </div>
        </div>
        
        
        <div>
            {% block body_block %}
            
            {% endblock %}
        </div>
        
        
    </body>
</html>
