<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/baseCss.css' %}" charset="utf-8"/>
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
        {% block head_block %}

        {% endblock %}
        <title>
            w[]rdle - 
            {% block title_block %}
                Game
            {% endblock %}
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <img src="{% static 'images/question.png' %}" alt="How to play wordle!" 
                style = "width: 20px; height: 20px;margin-left: 20%;margin-top: 10px;"/>
            <span class="text-left setwordle">w[&nbsp;]rdle</span>
             <div class="container font-weight-bold">
                <!-- Nav pills -->
                <ul class="nav ml-auto" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'wordgame:game' %}">Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  id="base_leaderboard" href="{% url 'wordgame:leaderboard' %}">Leaderboard</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'wordgame:userprofile' %}">{% if request.user.is_authenticated %}{{ request.user.username }}{% else %}UserProfile{% endif %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'wordgame:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item ">
                        <a  class="nav-link" href="{% url 'wordgame:login' %}">Login</a>
                    </li>
                    {% endif %} 
                </ul>
          </div>        
        </nav>
        <div class="main-contain">
            {% block body_block %}
            
            {% endblock %}
        </div> 
        <!-- all templates should inherit jquery.js-->
        <script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
        {% block page_scripts %} 
        
            <!--empty block to allow placement of specific js scripts in relevant templates-->
        {% endblock %}
    </body>
</html>
