{% extends 'wordgame/base.html' %}
{% load staticfiles %}


{% block title_block %}
    W[]rdle
{% endblock %}

{% block body_block %}
   
    
    <div id="contain">  
        <br><br><br><br>  
        <h4 id="guesses" align="center"></h4>
    </div>


    <div id class="d-flex justify-content-center">
        <form id="check form" action="/wordgame/check_guess/">
            {% csrf_token %}
            Enter guess
            <input type="text" id="guess" name="guess" value="GUESS">
            <!--TODO - make form use a surrogate for word, rather than just the word in a hidden input-->
            <input type="hidden" id="word_id" name="word_id" value="{{challenge.id}}">
            <input type="hidden" id="number_guesses" name="number_guesses" value="0">
            <input type="submit" value="Check">
        </form>
    </div>


    <div>
        <br><br><br><br> 
        <button align="center" id="show_hint">Hover to cheat</button>
        <p id="cheat" align="center" style="display: none">(The word is: {{ challenge.word }})</p>
    </div>
    

{% endblock %}

{% block page_scripts %}
    <script src="{% static "js/game.js" %}" crossorigin="anonymous"></script>
{% endblock %}