{% extends 'wordgame/base.html' %}
{% load staticfiles %}


{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/leaderboardCss.css' %}" charset="utf-8"/>
{% endblock %}

{% block title_block %}
    Leaderboard
{% endblock %}

{% block body_block %}
    <div id="contain">
        <div id="set_background"></div>
        <div id="contain-leaderboard" class="text-center">
            <div class="contain-left">
                <div class="card user">
                    <div class="card-body">
                        <div class="username">
                        <span class="card-title text-primary text-info self">{{ user }}</span>
                        </div>
                        <img src="/media/{{ avatar }}" class="img-fluid icon">
                    </div>
                </div>
                <div class="user-content">
                    <div>
                        <p class="h1 text-muted">Rank</p>
                        <p class="content-value text-success h3">{{ rank }}</p>
                    </div>
                    <div>
                        <p class="h1 text-muted">Score</p>
                        <p class="content-value text-success h3">{{ score }}</p>
                    </div>
                </div>
            </div>
            <div class="card contain-right">
                <header>
                    <h1 class="text-center">Leaderboard</h1>
                </header>
                <HR class="set_hr">

                <div class="info">
                    <table id="info-table" class="table table-striped table-hover"
                    ></table>
                </div>
            </div>

        </div>
    </div>
    <script src="{% static '/js/get_leader_board.js' %}"></script>
{% endblock %}

