{% extends 'wordgame/base.html' %}
{% load staticfiles %}

{% block head_block %}
<link rel="stylesheet" type="text/css" href="../../static/style/loginCss.css" charset="utf-8"/>

{% endblock %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <div id = "contain">
        <div id = "set_background"> </div>
        <div id = "contain-login">
            <h1>Login to w[&nbsp;]rdle !</h1> 
            <div id="login_top">
                <form id="login_form" method="post" action="{% url 'wordgame:login' %}">
                    {% csrf_token %}
                    <div class="form-content">
                        Username: <input type="text" name="username" value="" size="30" />
                    </div> 
                    <br /><br />
                    <div class="form-content">
                        Password: <input type="password" name="password" value="" size="30" />
                    </div> 
                    <br /><br />
                    <input id="login_click" type="submit" value="login" />
                </form>
                <div id="msg">{{ msg }}</div>
                <div id="notice">
                    <div id="remember">
                        <input id="rememberMe" type="checkbox" name="check_remember" {{ check_value }}/>
                        <span>Remember me</span>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div id="login_bottom"><span>Don't have an account? </span><a style="margin-left:10px ;color: rgb(98, 152, 253);" href="{% url 'wordgame:register' %}">Create Account</a></div>
        </div>
        
    </div>
    
{% endblock %}

