{% extends 'wordgame/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Register
{% endblock %}

{% block head_block %}
<link rel="stylesheet" type="text/css" href="../../static/style/register.css" charset="utf-8"/>
{% endblock %}

{% block body_block %}
    <div class="row justify-content-center " >          
        {% if registered %}
        <div class="col-center-block card ">        
            <div class="card-header bg-success text-white" style = "height:200px"">
                <img class="mx-auto d-block img-fluid"  src="{% static 'images/success.png' %}" alt="Create account successfully"/>
                <h1 class="text-center">Success</h1>
            </div>
            <div class="card-body">
                <p >
                Congratulations!</br> 
                Your account has been successfully created.
                </p>
            </br>
                <div style="text-align:center">
                    <a href="{% url 'wordgame:login' %}"><button style="width:140px" class="btn btn-info">Login now !</button></a>
                </div>
            </div>        
        </div>              
        {% else %}
        <div id = "set_background"> </div>
        <div  class="col-center-block bg-white" style="width:666px;">          
            <h2 class="text-center">Welcome To register!</h2>
            <div class="row justify-content-center " >
                <div class="justify-content-center " style="width:500px;">                                
                    <form id="user_form" method="post" action="{% url 'wordgame:register' %}"enctype="multipart/form-data" class="align-self-center justify-content-center " >
                        {% csrf_token %}
                        </br>
                        {{ user_form|crispy }}
                        <div class="form-content mt-4" style="text-align:center">
                            <button style="width:140px" name="submit" value="Create Account" class="btn btn-info">Create Account</button>
                        </div>
                    </br>
                    </form>      
                </div>
                </br>
            </div>
        </div>
        {% endif %}       
    </div> 
{% endblock %}