{% extends 'wordgame/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <div class="row justify-content-center " >          
        {% if registered %}
        <div class="col-center-block card ">        
            <div class="card-header bg-success text-white setHeight_200">
                <img class="mx-auto d-block img-fluid"  src="{% static 'images/success.png' %}" alt="Create account successfully"/>
                <h1 class="text-center">Success</h1>
            </div>
            <div class="card-body">
                <p >
                Congratulations!</br> 
                Your account has been successfully created.
                </p>
            </br>
                <div class="text-center">
                    <a href="{% url 'wordgame:login' %}"><button class="btn btn-info setWidth_140">Login now !</button></a>
                </div>
            </div>        
        </div>              
        {% else %}
        <div class = "set_background"> </div>
        <div  class="col-center-block bg-white setWidth_666">          
            <h2 class="text-center">Welcome To register!</h2>
            <div class="row justify-content-center " >
                <div class="justify-content-center setWidth_500 ">                                
                    <form id="user_form" method="post" action="{% url 'wordgame:register' %}"enctype="multipart/form-data" class="align-self-center justify-content-center " >
                        {% csrf_token %}
                        </br>
                        {% if message %}
                        <div class="alert alert-danger text-center">{{ message }}</div>
                        {% endif %}
                        {{ user_form|crispy }}
                        <div class="form-content mt-4 text-center">
                            <button name="submit" value="Create Account" class="btn btn-info setWidth_140">Create Account</button>
                        </div>
                        <div class="form-content mt-3 text-center">
                            <span>Already have an account? </span>
                            &nbsp;<a class="text-info" href="{% url 'wordgame:login' %}">Login</a>
                        </div>
                    </br>
                    </form>      
                </div>
                </br>
            </div>
        </div>
        {% endif %}       
    </div> 
{% endblock %}